#sort-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1.125rem;
  font-family: "Mier book";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: left;
}

.sort-parent-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  position: relative;
}

.parent-container-filter {
  display: flex;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
}

.sort-parent-container:hover {
  background-color: #f0f0f0;
}

.custom-select-container {
  width: 100%;
}

.custom-select-display:hover {
  background-color: #f0f0f0;
}

.custom-select-display {
  width: 100%;
  padding: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: "Mier book";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-family: "Poppins ", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: left;
  color: rgb(53, 53, 47);
}

.custom-select-options {
  position: absolute;
  width: 100%;
  background: white;
  top: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-option {
  padding: 8px;
  cursor: pointer;
}

.custom-option:last-child {
  border-bottom: none;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.sort-parent-container {
  padding: 1rem;
}

.clear-btn {
  border: none;
  outline: none;
  background-color: white;
  font-size: 1.125rem;
  font-family: "Mier book";
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: left;
  color: rgb(159, 32, 137);
  cursor: pointer;
}

.comon-small-font {
  color: rgb(139, 139, 163);
  font-style: normal;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 16px;
  font-family: "Mier demi";
  padding: 0px;
}

.hover-text:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.text-gender-section{
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
}

input[type="checkbox"]:checked {
  accent-color: rgb(159, 32, 137);
}