.comon-logo {
  width: 9.75rem;
}

.rem25 {
  width: 25rem !important;
  height: 2.813rem !important;
}

.width-75 {
  width: 75%;
  padding-left: 3.5rem;
}

.comon-font {
  font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  font-size: 1.225rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: left;
  color: rgb(53, 53, 47);
  cursor: pointer;
}

.comon-font:nth-child(2),
.comon-font:nth-child(3),
.comon-font:nth-child(1) {
  border-right: 1px solid rgb(206, 206, 222);
  padding-right: 3rem;
}

.icon {
  font-size: 1.5rem;
}
